<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean id="userDao" class="com.gaoxing.demo1.UserDaoOracleImpl">
            <!--
                name:要注入属性的名称
                value:注入（赋值）值
             -->
            <property name="name" value="Tom"/>
        </bean>
        <bean id="person" class="com.gaoxing.demo2.Person"
              init-method="init"
              destroy-method="destroy"
              scope="prototype"
        >
            <!-- scope默认属性为singleton 单例设计模式创建对象，对象地址相同 -->
            <!-- scope的属性改为prototype，多例模式创建，对象地址不同 -->
            <property name="name" value="小黑"/>
        </bean>

        <!-- 导入其他配置文件 -->
        <import resource="applicationContext2.xml"/>
        <import resource="applicationContext3.xml"/>

</beans>
