<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 属性注入 -->
    <bean id="student" class="com.gaoxing.demo4.Student">
        <constructor-arg name="name" value="jeak"/>
        <constructor-arg name="age" value="18"/>
        <!--<property name="dog" ref="dog"/>-->
        <property name="dog" value="#{dog2}"/>
        <property name="dogName" value="#{dog2.getName()}"/>
        <!-- 数组类型属性注入 -->
        <!-- 字符串数组 -->
        <property name="attr">
            <list>
                <value>H</value>
                <value>e</value>
                <value>l</value>
                <value>l</value>
                <value>o</value>
            </list>
        </property>
        <!-- List类型属性注入 -->
        <property name="list">
            <list>
                <value>今天</value>
                <value>天气</value>
                <value>不错</value>
            </list>
        </property>
        <!-- set类型属性注入 -->
        <property name="mySet">
            <set>
                <value>这里是</value>
                <value>set</value>
                <value>集合</value>
            </set>
        </property>
        <!-- map类型属性注入 -->
        <property name="myMap">
            <map>
                <entry key="key1" value="value1"/>
                <entry key="key2" value="value2"/>
                <entry key="key3" value="value3"/>
            </map>
        </property>
    </bean>
    <bean id="dog" class="com.gaoxing.demo4.Dog" p:name="大黄" p:age="10" p:color="yellow">
        <!--<property name="name" value="wc"/>
        <property name="age" value="18"/>
        <property name="color" value="blue"/>-->

    </bean>

    <bean id="dog2" class="com.gaoxing.demo4.Dog">
        <property name="name" value="#{'wccc'}"/>
        <property name="age" value="#{180}"/>
        <property name="color" value="#{'blue'}"/>

    </bean>

</beans>
