<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaoxing.mapper.CustomerMapper">


    <!-- where标签能自动生成和删除 还能删除where第一个and -->
    <select id="getCustomer" resultType="com.gaoxing.domain.Customer">
        select * from `customer`

        <where>

        <if test="cust_name != null and cust_name != ''">
            `cust_name` = #{cust_name}
        </if>
        <if test="cust_profession != null and cust_profession != ''">
            and `cust_profession` = #{cust_profession}
        </if>

        </where>


    </select>
</mapper>