<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaoxing.mapper.CustomerMapper">


    <select id="getCustomer" resultType="com.gaoxing.domain.Customer">
        select * from `customer` where `cust_name` = #{cust_name} and `cust_profession` = #{cust_profession}
    </select>
</mapper>