<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.sunflowers.mapper.TFlagMapper" >
  <resultMap id="BaseResultMap" type="com.wf.sunflowers.entity.TFlag" >
    <id column="fid" property="fid" jdbcType="INTEGER" />
    <result column="hname" property="hname" jdbcType="VARCHAR" />
    <result column="typeid" property="typeid" jdbcType="INTEGER" />
    <result column="hdate" property="hdate" jdbcType="TIMESTAMP" />
    <result column="implement" property="implement" jdbcType="VARCHAR" />
    <result column="word" property="word" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="click" property="click" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_flag
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wf.sunflowers.entity.TFlag" >
    /* 获取插入的最后一个id */
    <selectKey keyColumn="fid" keyProperty="fid" resultType="Integer" order="AFTER">
      select last_insert_id()
    </selectKey>
    insert into t_flag (fid, hname, typeid, 
      hdate, implement, word, 
      userid, click)
    values (#{fid,jdbcType=INTEGER}, #{hname,jdbcType=VARCHAR}, #{typeid,jdbcType=INTEGER}, 
      #{hdate,jdbcType=TIMESTAMP}, #{implement,jdbcType=VARCHAR}, #{word,jdbcType=VARCHAR}, 
      #{userid,jdbcType=INTEGER}, #{click,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wf.sunflowers.entity.TFlag" >
    update t_flag
    set hname = #{hname,jdbcType=VARCHAR},
      typeid = #{typeid,jdbcType=INTEGER},
      hdate = #{hdate,jdbcType=TIMESTAMP},
      implement = #{implement,jdbcType=VARCHAR},
      word = #{word,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      click = #{click,jdbcType=INTEGER}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select fid, hname, typeid, hdate, implement, word, userid, click
    from t_flag
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select fid, hname, typeid, hdate, implement, word, userid, click
    from t_flag
  </select>
  <select id="selectAllByUidAndKey" resultType="com.wf.sunflowers.entity.TFlagPro">
    SELECT
    t_flag.fid,
    t_flag.hname,
    t_flag.typeid,
    t_flag.hdate,
    t_flag.implement,
    t_flag.word,
    t_flag.userid,
    t_flag.click,
    t_type.tname
    FROM
    t_type ,
    t_flag
    WHERE t_type.tid = t_flag.typeid AND t_flag.userid = #{userid} AND (t_flag.hname LIKE '%${key}%' OR t_flag.implement LIKE '%${key}%')

   </select>
</mapper>