<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaoxing.mapper.CustomerMapper">

    <!-- 保存客户 -->
    <insert id="insertCustomer" parameterType="Customer"
             useGeneratedKeys="true"
             keyColumn="cust_id" keyProperty="cust_id">

        insert into `customer` (cust_name,cust_profession,cust_phone,email)
        values (#{cust_name},#{cust_profession},#{cust_phone},#{email})
    </insert>


    <select id="getAccountCustomer" resultType="Integer">
        select count(*) from `customer`
    </select>

    <!--<resultMap id="customerMap" type="com.gaoxing.damain.Customer">
        &lt;!&ndash; column为数据库字段，property为映射类字段，双方字段不一致可以进行此设置 &ndash;&gt;
        <id column="cust_id" property="cust_ids"/>
        <result column="cust_name" property="cust_names"/>
        <result column="cust_profession" property="cust_professions"/>
        <result column="cust_phone" property="cust_phones"/>
        <result column="email" property="email"/>

    </resultMap>-->
    <select id="getCustomer" resultType="com.gaoxing.domain.Customer">
        select * from `customer` where cust_id = #{id}
    </select>
    <select id="getCustomerWidthId" resultType="java.util.Map">
        select * from `customer` where cust_id = #{id}
    </select>
    <select id="getAllCustomer" resultType="java.util.Map">
        select * from `customer`
    </select>
    <select id="getAllListCustomer" resultType="com.gaoxing.domain.Customer">
        select * from `customer`
    </select>


    <resultMap id="custMap" type="Customer">
        <id column="cust_id" property="cust_id"/>
        <result column="cust_name" property="cust_name" />
        <result column="cust_profession" property="cust_profession" />
        <result column="cust_phone" property="cust_phone" />
        <result column="email" property="email" />

        <collection property="orders" ofType="Order">
            <id column="order_id" property="order_id" />
            <result column="order_name" property="order_name"/>
            <result column="order_num" property="order_num"/>
        </collection>
    </resultMap>
    <!-- 查询所有客户带订单 -->
    <select id="getAllCustomers" resultMap="custMap">
        SELECT * FROM `customer` AS c LEFT JOIN `order` AS o ON c.cust_id = o.cust_id
    </select>
</mapper>