<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gaoxing.mapper.OrderMapper">

    <resultMap id="OrderMap" type="Order">
        <id property="order_id" column="order_id"/>
        <result property="order_name" column="order_name"/>
        <result property="order_num" column="order_num"/>

        <association property="customer" javaType="Customer">
            <id property="cust_id" column="cust_id"/>
            <result property="cust_name" column="cust_name"/>
            <result property="cust_phone" column="cust_phone"/>
            <result property="cust_profession" column="cust_profession"/>
            <result property="email" column="email"/>
        </association>
    </resultMap>

    <!-- 保存订单 -->
    <insert id="insertOrder" parameterType="Order"
            useGeneratedKeys="true"
            keyColumn="order_id" keyProperty="order_id">
        insert into `order` (order_name,order_num,cust_id) values (#{order_name},#{order_num},#{customer.cust_id})
    </insert>
    <select id="getAllOrder" resultMap="OrderMap">
        select * from `order` as o LEFT JOIN `customer` c on o.cust_id = c.cust_id
    </select>
    
    <resultMap id="resultMap2" type="Order">
        <id property="order_id" column="order_id"/>
        <result property="order_name" column="order_name"/>
        <result property="order_num" column="order_num"/>

        <!-- 分步查询  把源查的字段结果当作条件继续查 -->
        <association property="customer" javaType="Customer"
        select="com.gaoxing.mapper.CustomerMapper.getCustomer" column="cust_id">

        </association>

    </resultMap>
    <select id="getOrderWidthId" resultMap="resultMap2">
        select * from `order` where order_id = #{id}
    </select>
    <select id="getOrder" resultType="com.gaoxing.domain.Order">
        select * from `order` where cust_id = #{id}
    </select>
</mapper>