<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gaoxing.mapper.StudentMapper">

    <!-- 根据老师id获取学生 -->
    <select id="getStuByTeacher" resultType="com.gaoxing.domain.Student">
        SELECT * FROM student WHERE stu_id in(SELECT stu_id FROM stu_teacher_rel WHERE teacher_id = #{id})
    </select>
</mapper>
