<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gaoxing.mapper.TeacerMapper">

    <!-- 保存老师 -->
    <insert id="insertTeacher" parameterType="Teacher" useGeneratedKeys="true"
             keyColumn="teacher_id"
             keyProperty="teacher_id"
    >
        insert into `teacher` (teacher_name) values (#{teacher_name})
    </insert>

    <!-- 插入关系 -->
    <insert id="insertRelation">
        insert into `stu_teacher_rel` (stu_id,teacher_id) values (#{stu_id},#{teacher_id})
    </insert>
    <!-- 获取所有老师 和他的学生 -->
    <select id="getTeachers" resultMap="teacherMap">
        SELECT * FROM
        teacher AS t LEFT JOIN stu_teacher_rel AS r
        ON t.teacher_id = r.teacher_id
        LEFT JOIN student AS s
        ON r.stu_id = s.stu_id
    </select>

    <resultMap id="teacherMap2" type="Teacher">
        <id column="teacher_id" property="teacher_id"/>
        <result column="teacher_name" property="teacher_name"/>

        <collection property="students" javaType="List" ofType="Student"
                     select="com.gaoxing.mapper.StudentMapper.getStuByTeacher" column="teacher_id" />
    </resultMap>
    <!-- 根据老师id查询 -->
    <select id="getTeacherWidthId" resultMap="teacherMap2">
        SELECT * FROM teacher WHERE teacher_id = #{id}
    </select>

    <resultMap id="teacherMap" type="Teacher">
        <id column="teacher_id" property="teacher_id"/>
        <result column="teacher_name" property="teacher_name"/>

        <collection property="students" javaType="List" ofType="Student">
            <id column="stu_id" property="stu_id"/>
            <result column="stu_name" property="stu_name"/>
        </collection>
    </resultMap>

</mapper>