<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juzimi.mapper.AdminMapper" >
  <resultMap id="BaseResultMap" type="com.juzimi.domain.Admin" >
    <id column="admin_id" property="adminId" jdbcType="VARCHAR" />
    <result column="admin_password" property="adminPassword" jdbcType="VARCHAR" />
    <result column="is_open_active" property="isOpenActive" jdbcType="INTEGER" />
    <result column="admin_picture" property="adminPicture" jdbcType="VARCHAR" />
    <result column="admin_other_one" property="adminOtherOne" jdbcType="VARCHAR" />
    <result column="admin_other_two" property="adminOtherTwo" jdbcType="VARCHAR" />
    <result column="admin_other_three" property="adminOtherThree" jdbcType="VARCHAR" />
    <result column="admin_other_four" property="adminOtherFour" jdbcType="VARCHAR" />
    <result column="admin_other_five" property="adminOtherFive" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from admin
    where admin_id = #{adminId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.juzimi.domain.Admin" >
    insert into admin (admin_id, admin_password, is_open_active, 
      admin_picture, admin_other_one, admin_other_two, 
      admin_other_three, admin_other_four, admin_other_five
      )
    values (#{adminId,jdbcType=VARCHAR}, #{adminPassword,jdbcType=VARCHAR}, #{isOpenActive,jdbcType=INTEGER}, 
      #{adminPicture,jdbcType=VARCHAR}, #{adminOtherOne,jdbcType=VARCHAR}, #{adminOtherTwo,jdbcType=VARCHAR}, 
      #{adminOtherThree,jdbcType=VARCHAR}, #{adminOtherFour,jdbcType=VARCHAR}, #{adminOtherFive,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.juzimi.domain.Admin" >
    update admin
    set admin_password = #{adminPassword,jdbcType=VARCHAR},
      is_open_active = #{isOpenActive,jdbcType=INTEGER},
      admin_picture = #{adminPicture,jdbcType=VARCHAR},
      admin_other_one = #{adminOtherOne,jdbcType=VARCHAR},
      admin_other_two = #{adminOtherTwo,jdbcType=VARCHAR},
      admin_other_three = #{adminOtherThree,jdbcType=VARCHAR},
      admin_other_four = #{adminOtherFour,jdbcType=VARCHAR},
      admin_other_five = #{adminOtherFive,jdbcType=VARCHAR}
    where admin_id = #{adminId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select admin_id, admin_password, is_open_active, admin_picture, admin_other_one, 
    admin_other_two, admin_other_three, admin_other_four, admin_other_five
    from admin
    where admin_id = #{adminId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select admin_id, admin_password, is_open_active, admin_picture, admin_other_one, 
    admin_other_two, admin_other_three, admin_other_four, admin_other_five
    from admin
  </select>
  <!-- 登录 -->
  <select id="selectByUidWidthPwd" resultMap="BaseResultMap" resultType="com.juzimi.domain.Admin">
    SELECT * FROM admin WHERE admin_id = #{adminId} AND admin_password = #{adminPassword}
  </select>
  <select id="selectCountAll" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM ${tabName}
  </select>
  <select id="selectCountTodayNum" resultType="java.lang.Integer">
    select COUNT(*) from ${tabName} where date(create_date) = curdate();
  </select>
  <select id="selectCountNewData" resultType="java.lang.Integer">
    select count(*)
    from ${tabName}
    where date(create_date) = curdate() - ${num}
  </select>

  <resultMap id="BaseResultMap1" type="com.juzimi.domain.Users" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_sex" property="userSex" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="user_slogan" property="userSlogan" jdbcType="VARCHAR" />
    <result column="is_active" property="isActive" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="user_profile" property="userProfile" jdbcType="VARCHAR" />
    <result column="user_picture" property="userPicture" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectUsersByIdOrName"  parameterType="String" resultMap="BaseResultMap1">
    select user_id, user_password, user_name, user_sex, user_phone, user_email, user_slogan,
    is_active, create_date, user_profile, user_picture
    FROM users
    WHERE user_id LIKE '%${key}%' OR user_name LIKE '%${key}%'
  </select>
  <resultMap id="BaseResultMap2" type="com.juzimi.domain.Album" >
    <id column="album_id" property="albumId" jdbcType="INTEGER" />
    <result column="album_name" property="albumName" jdbcType="VARCHAR" />
    <result column="album_details" property="albumDetails" jdbcType="VARCHAR" />
    <result column="classify_id" property="classifyId" jdbcType="INTEGER" />
    <result column="album_picture" property="albumPicture" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="selectAlbumByNameOrDetails" resultMap="BaseResultMap2">
    SELECT album_id, album_name, album_details, classify_id, album_picture, user_id,
    create_date
    FROM album
    WHERE album_name LIKE '%${key}%' OR album_details LIKE '%${key}%'
  </select>
</mapper>