<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juzimi.mapper.SentenceProMapper">
    <resultMap id="BaseResultMap" type="com.juzimi.domain.SentencePro" >
        <id column="sentence_id" property="sentenceId" jdbcType="INTEGER" />
        <result column="sentence_txt" property="sentenceTxt" jdbcType="VARCHAR" />
        <result column="album_id" property="albumId" jdbcType="INTEGER" />
        <result column="classfiy_id" property="classfiyId" jdbcType="INTEGER" />
        <result column="author_name" property="authorName" jdbcType="VARCHAR" />
        <result column="album_name" property="albumName" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="selectAllPro" resultMap="BaseResultMap" resultType="com.juzimi.domain.SentencePro">
        SELECT
        sentence.sentence_id,
        sentence.sentence_txt,
        sentence.classfiy_id,
        sentence.author_name,
        sentence.user_id,
        sentence.create_date,
        album.album_name,
        sentence.album_id
        FROM
        album
        INNER JOIN sentence ON sentence.album_id = album.album_id
  </select>
</mapper>