<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="goodsDao" class="com.gaoxing.demo1.GoodsDaoImpl">

    </bean>

    <bean id="myaspect" class="com.gaoxing.demo2.Myaspect">

    </bean>

    <!-- 配置AOP -->
    <aop:config>
        <!-- 切点：给哪个方法增强 -->
        <aop:pointcut id="savepoint" expression="execution(* com.gaoxing.demo1.GoodsDaoImpl.save(..))"/>
        <!-- 配置切面 ：增强的功能是什么-->
        <aop:aspect ref="myaspect">
            <aop:before method="check" pointcut-ref="savepoint"/>
        </aop:aspect>
    </aop:config>
</beans>